body {
  --liv-colour-primary-values: 0, 0, 0;
  --liv-colour-secondary-values: 255, 255, 255;
  --masters-colour-primary-values: 25, 53, 38;
  --masters-colour-secondary-values: 203, 210, 208;
}

.flag {
  width: 150px;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  opacity: 65%;
}

.flag-container {
  position: relative;
  overflow: hidden;
  width: 135px;
  height: 90px;
  border-radius: 15px;
}

.liv-theme {
  --bg-colour-values: var(--liv-colour-primary-values);
  --bg-colour: rgb(var(--bg-colour-values));
  --text-colour-values: var(--liv-colour-secondary-values);
  --text-colour: rgb(var(--text-colour-values));
  color: #ffffff;
  background-color: black;
  font-family: "Raleway", sans-serif;
}

.masters-theme {
  --bg-colour-values: var(--masters-colour-primary-values);
  --bg-colour: rgb(var(--bg-colour-values));
  --text-colour-values: var(--masters-colour-secondary-values);
  --text-colour: rgb(var(--text-colour-values));
  background-color: var(--bg-colour);
  color: var(--text-colour);
  font-family: "Libre Baskerville";
}

.sb-container {
  display: flex;
  justify-content: center;
}

.sb-header,
.score-hero {
  font-family: "Inter", sans-serif;
  font-size: 3em;
}

.masters-theme .sb-header,
.masters-theme .score-hero {
  font-family: "Libre Baskerville";
}

.text-centre {
  text-align: center;
}

.text-left {
  text-align: left;
}

.score-hero {
  font-size: 2.5em;
}

.score-title {
  background-color: aquamarine;
  color: #247359;
  border-radius: 0 0 5px 5px;
  padding: 2px 5px;
}

.score-title:first-of-type {
  background-color: orange;
  color: #5a3a00;
}

.score-title:last-of-type {
  background-color: #c682ff;
  color: #401c5f;
}

.score-value {
  background-color: #247359;
  color: aquamarine;
  border-radius: 5px 5px 0 0;
  padding: 2px 5px;
}

.score-value:first-of-type {
  background-color: #5a3a00;
  color: orange;
}

.score-value:last-of-type {
  background-color: #401c5f;
  color: #c682ff;
}

table {
  border-collapse: collapse;
}

.player-name {
  font-size: 2em;
}

.position {
  font-size: 4em;
  border-radius: 15px;
  text-align: center;
  min-width: 65px;
}

.position.position-1 {
  background-color: #ffef82;
  color: #6b5d03;
}

.position.position-2 {
  background-color: silver;
  color: #606060;
}

.position.position-3 {
  background-color: #cd7f32;
  color: #5a330d;
}

.vertical-spacer {
  width: 4px;
}

#timestamp-container {
  text-align: right;
  color: #aeaeae;
  visibility: hidden;
}

.visible {
  visibility: visible !important;
}

.cutoff-text {
  font-variant: small-caps;
  text-align: center;
  background: repeating-linear-gradient(
    45deg,
    rgb(var(--text-colour-values), 0.5),
    rgb(var(--text-colour-values), 0.5) 10px,
    #fff0 10px,
    #fff0 20px
  );
}

.cutoff-text span {
  background-color: var(--bg-colour);
  font-size: 1.5em;
  font-weight: bold;
  padding: 5px;
}

hr.cutoff-line {
  border-style: dashed;
}

.pending-selection #timestamp-container,
.pending-selection .sb-container {
  display: none;
}

.tournament-selector {
  display: none;
}

.tournament-selector div {
  width: 100vw;
  height: 100vh;
  line-height: 100vh;
  text-align: center;
  font-size: 2em;
  transition: 0.15s ease-out;
  background: none;
}

.tournament-selector div:hover {
  font-size: 2.5em;
}

.tournament-selector a {
  display: block;
  text-decoration: none;
}

.pending-selection {
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    94deg,
    rgb(var(--masters-colour-primary-values)),
    rgb(var(--masters-colour-primary-values)) 50%,
    rgb(var(--liv-colour-primary-values)) 50%,
    rgb(var(--liv-colour-primary-values))
  );
}

.pending-selection .tournament-selector {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
}

.tournament-selector .masters-theme a {
  color: rgb(var(--masters-colour-secondary-values));
}

.tournament-selector .liv-theme a {
  color: rgb(var(--liv-colour-secondary-values));
}

@media (orientation: portrait) {
  .pending-selection .tournament-selector {
    flex-direction: column;
  }

  .tournament-selector div {
    line-height: 50vh;
  }

  .pending-selection {
    background: linear-gradient(
      174deg,
      rgb(var(--masters-colour-primary-values)),
      rgb(var(--masters-colour-primary-values)) 50%,
      rgb(var(--liv-colour-primary-values)) 50%,
      rgb(var(--liv-colour-primary-values))
    );
    font-size: 3em;
  }
}
