.flag {
  width: 150px;
  position: absolute;
  top: -9999px;
  bottom: -9999px;
  left: -9999px;
  right: -9999px;
  margin: auto;
  opacity: 65%;
}

.flag-container {
  position: relative;
  overflow: hidden;
  width: 135px;
  height: 90px;
  border-radius: 15px;
}

.liv-theme {
  --bg-colour-values: 0, 0, 0;
  --bg-colour: rgb(var(--bg-colour-values));
  --text-colour-values: 255, 255, 255;
  --text-colour: rgb(var(--text-colour-values));
  color: #ffffff;
  background-color: black;
  font-family: "Raleway", sans-serif;
}

.masters-theme {
  --bg-colour-values: 25, 53, 38;
  --bg-colour: rgb(var(--bg-colour-values));
  --text-colour-values: 203, 210, 208;
  --text-colour: rgb(var(--text-colour-values));
  background-color: var(--bg-colour);
  color: var(--text-colour);
  font-family: "Libre Baskerville";
}

.sb-container {
  display: flex;
  justify-content: center;
}

.sb-header,
.score-hero {
  font-family: "Inter", sans-serif;
  font-size: 3em;
}

.masters-theme .sb-header,
.masters-theme .score-hero {
  font-family: "Libre Baskerville";
}

.text-centre {
  text-align: center;
}

.text-left {
  text-align: left;
}

.score-hero {
  font-size: 2.5em;
}

.score-title {
  background-color: aquamarine;
  color: #247359;
  border-radius: 0 0 5px 5px;
  padding: 2px 5px;
}

.score-title:first-of-type {
  background-color: orange;
  color: #5a3a00;
}

.score-title:last-of-type {
  background-color: #c682ff;
  color: #401c5f;
}

.score-value {
  background-color: #247359;
  color: aquamarine;
  border-radius: 5px 5px 0 0;
  padding: 2px 5px;
}

.score-value:first-of-type {
  background-color: #5a3a00;
  color: orange;
}

.score-value:last-of-type {
  background-color: #401c5f;
  color: #c682ff;
}

table {
  border-collapse: collapse;
}

.player-name {
  font-size: 2em;
}

.position {
  font-size: 4em;
  border-radius: 15px;
  text-align: center;
  min-width: 65px;
}

.position.position-1 {
  background-color: #ffef82;
  color: #6b5d03;
}

.position.position-2 {
  background-color: silver;
  color: #606060;
}

.position.position-3 {
  background-color: #cd7f32;
  color: #5a330d;
}

.vertical-spacer {
  width: 4px;
}

#timestamp-container {
  text-align: right;
  color: #aeaeae;
  visibility: hidden;
}

.visible {
  visibility: visible !important;
}

.cutoff-text {
  font-variant: small-caps;
  text-align: center;
  background: repeating-linear-gradient(
    45deg,
    rgb(var(--text-colour-values), 0.5),
    rgb(var(--text-colour-values), 0.5) 10px,
    #fff0 10px,
    #fff0 20px
  );
}

.cutoff-text span {
  background-color: var(--bg-colour);
  font-size: 1.5em;
  font-weight: bold;
  padding: 5px;
}

hr.cutoff-line {
  border-style: dashed;
}
